# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
dist/
downloads/
var/
wheels/
share/python-wheels/

# # Unit test / coverage reports [May need later]
# htmlcov/
# .tox/
# .nox/
# .coverage
# .coverage.*
# .cache
# nosetests.xml
# coverage.xml
# *.cover
# *.py,cover
# .hypothesis/
# .pytest_cache/
# cover/

# Environments
.env
env/
ENV/

#VSCode
.vscode/

# Other Directories
archive/
runs/
HBV_1.1p/
ngen/

